$primary-color: #03A9F4;
$primary-dark-color: #0288D1;
$primary-light-color: #81D4FA;
$accent-color: #651FFF;
$accent-dark-color: #6200EA;
$accent-light-color: #B388FF;
$background-color: #EEEEEE;
$background-dark-color: #212121;
$background-selected-color: #bdbdbd;

//Text colors
$primary-text-color: #212121;
$selected-text-color: white;
$divider-color: #757575;
$secondary-text-color: #bdbdbd;
$disabled-text-color: #E0E0E0;

