@import "styles";

.About {
    a {
        color: $primary-color;

        &:hover {
            color: $primary-light-color;
        }

        &:visited {
            color: $primary-dark-color;
        }
    }
    .eastern {
        color: #4CAF50;
    }
}
