@import 'styles';

.Assignment1 {


    .hobbies-list {
        h1, ol, ul {
            width: 30%;
            padding: 0 10% 0 40%;
            color: $primary-text-color;

        }
    }

    .headers {
        right: 0;
        top: 0;

        * {
            display: inline-block;
        }
    }

    .ColorTable {
        position: inherit;
        padding: 0;
        height: 300px;
        width: 300px;
        bottom: 20%;
        td {
            position: inherit;
            height: 25%;
            width: 25%;
        }
    }
}
