@import 'styles';

.NavigationBar {
    //border: 1px dashed #f00;
    background: #212121;
    color: white;
    border-right: 1px solid $divider-color;
    position: absolute;
    width: 300px;
    height: 100%;

    .header, .links {
        //border: 1px dashed blue;
        display: block;
    }

    .header {
        font-family: 'Roboto', sans-serif;
        width: 100%;
        line-height: 30px;

        .head-shot {
            margin: 25px 75px 25px 75px;
            width: 150px;
            height: 150px;
            border: 1px solid #212121;
            background-color: $background-color;
            border-radius: 75px;

            &:hover {
                border: 1px solid white;
                cursor: pointer;
            }
        }

        h1, p {
            width: 100%;
            margin: 0;
            font-family: 'Roboto', sans-serif;
            text-align: center;
        }

        a {
            line-height: 30px;
            color: white;
            text-decoration: none;

            &:visited {
                color: $primary-dark-color;
            }
            &:hover {
                color: $primary-color;
            }
        }
    }
    .links {
        padding-top: 10px;
        width: 100%;

        .label {
            position: inherit;
            width: 100%;
            font-family: 'Roboto', sans-serif;
            font-size: medium;
            border-bottom: 1px solid $divider-color;
        }


    }

}
